apiVersion: v1
kind: Secret
metadata:
  name: user-secret
type: Opaque
stringData:
  POSTGRES_DB: "user_db"
  POSTGRES_USER: "postgres"
  POSTGRES_PASSWORD: "postgres"
  POSTGRES_URL: "jdbc:postgresql://user-db:5432/user_db"